/* .App {
    text-align: center;
  }
  
  
  .title {
    color: black;
    font-size: 10vh;
    padding: 0px;
  }
  
  .logo {
    background-color: transparent; 
    width: 50vh; 
    padding: 30px;
  }

  .logIn {
    background-color: black;
    color: white;
    font-size: 3vh;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 20px 10px;
    cursor: pointer;
}
  
  .initalScreen {
    background-color: #A1C1FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */