  .initalScreen {
    background-color: #A1C1FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
    min-height: 100vh;
  }

  .title {
    color: black;
    font-size: 10vh;
    padding: 10px;
    margin-top: 10px;
  }
  
  .logo {
    background-color: transparent; 
    width: 50vh; 
    padding: 0px;
    margin: 10px 0px 20px 0px;
  }

  .logIn {
    background-color: black;
    color: white;
    font-size: 3vh;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 20px 0px 70px;
    cursor: pointer;
}

.username {
  width: 35vh;
  height: 6.5vh;
  margin: 40px 0px 10px;
  border-radius: 10px;
}

.password {
  width: 35vh;
  height: 6.5vh;
  margin: 10px 0px 50px;
  border-radius: 10px;
}

.options {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 2vh;
  }