.header {
    display: grid;
    grid-template-columns: 6fr 6fr 1fr;
    font-size: 2.5vh
}

.list {
    padding: 0px 10px 0px 10px;
}

/* .hmbger {
    width: 2vh;
    padding: 30px;
    color: black;
} */

.logout {
    font-size: 2vh;
    padding: 10px 0px 10px 10px;
    color: gray;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background-color: #C1D6CE;
    border-radius: 25px;
    margin: 20px;
    position: relative
}

.deleteBtn {
    background-color: transparent;
    border: none;
    width: 3vh;
    margin: 0px 15px 0px 0px;
}

.editBtn {    
    width: 3.5vh;
    align-self: center;
    margin: 0px 5px 0px 0px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .bookcover {
      width: 10vh;
      background-color: transparent;
  }
  
  .delete {
      width: 4vh;
      padding: 20px;
  }
  
  .booktitle {
      color: black;
      font-size: 4vh;
  }
  
  
  